//class
.paddingLeft50px {
  padding-left: 50px;
}

.paddingLeft30px {
  padding-left: 30px;
}
.marginTop-30 {
  margin-top: -30px;
}
.marginTop-20 {
  margin-top: -20px;
}
.marginTop-5 {
  margin-top: -5px;
}