@font-face {
  font-family: "CeraPro-Bold";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/CeraPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CeraPro-Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/CeraPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CeraPro-Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/CeraPro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "CeraPro-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/CeraPro-Regular.ttf") format("truetype");
}
